.agenda-header {
	height: 100px;
}
.agenda-nav {
	float: left;
	min-height: 500px;
	width: 200px;
}

.agenda-content {
	min-height: 500px;
}

.add-btn {
	width: 100%;
}
.logo {
	background: url("../images/illustrations/book.png") center 0 no-repeat;
	height: 200px;
	zoom:0.7;
}

.button-bar {
	margin-top: 20px;
}

.button-bar .btn{
	margin-top: 2px;
	border-radius: 0;
}

.contact-list {
	float: left;
	list-style: none;
	color: white
}

.photo {
	width: 38px
}