<aside class=" agenda-nav palette-night-dark">
	<div class="button-bar">
		<button class="add-btn btn btn-large btn-info">Add New Contact</button>
		<button class="add-btn btn btn-large btn-info">Do Something</button>
		<button class="add-btn btn btn-large btn-info">Do Something too</button>
		<div class="todo-search-container">
			<input class="todo-search-field search-input" type="search" value="" placeholder="Search Contact">
		</div>
	</div>
</aside>
<section class=" agenda-content palette-night">
	<ul class="contact-list"></ul>
</section>